.App {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
  min-height: 100vh;
  color: rgb(1, 2, 2);
  display: flex;
  flex-direction: column;
}

/* Adjust the content section to align items horizontally */
